/*Contact Desk*/
.contact-desk {
    /*margin: 50px 0 50px 0;*/
    /*background-image: url("images/contact_background.jpg");*/
    background-color: rgba(0, 0, 0, 0.9);
    background-size: cover;
    background-repeat: no-repeat;
}

/**********************************/


.footer_content {
    padding-top: 80px;
    padding-bottom: 83px;
    border-bottom: solid 2px #4d4e4e;
}

.footer_content .logo_container {
    padding-left: 0px;
}

.footer_content .logo span {
    color: #FFFFFF;
}

.footer_about_text {
    margin-top: 24px;
    margin-bottom: 0px;
    padding-right: 20px;
}

.footer_column_title {
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    padding-top: 15px;
}

.footer_column_content {
    margin-top: 32px;
}

.footer_list_item {
    margin-bottom: 11px;
}

.footer_list_item a {
    font-size: 14px;
    color: #a5a5a5;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.footer_list_item a:hover {
    color: #ffb606;
}

.footer_contact_item {
    font-size: 14px;
    font-weight: 400;
    color: #a5a5a5;
    margin-bottom: 22px;
}

.footer_contact_item:last-child {
    margin-bottom: 0px;
}

.footer_contact_icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 10px;
}

.footer_contact_icon img {
    width: 100%;
}

/*********************************
15.3 Footer Copyright
*********************************/

.footer_bar {
    padding-top: 19px;
    padding-bottom: 19px;
}

.footer_social .menu_social_item a i {
    color: #FFFFFF;
}

.footer_social .menu_social_item a i:hover {
    color: #ffb606;
}

.footer_social .menu_social_item:last-child {
    margin-right: 0px;
}

/*Contact/Footer Desk Ends*/
